@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Bodoni&display=swap');

body {
    background-color: green;
}

#dealer {
    display: flex;
    width: 80vw;
    margin-top: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
}

#player-one {
    display: flex;
    width: 80vw;
    margin-top: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
}

#button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
    height: 50px;
    width: 130px;
    background-color: red;
    border: solid black 3px;
    color: whitesmoke;
    justify-content: center;
}

.card.front {
    background-color: #fff;
    height: 176px;
    width: 124px;
    border: solid black 2px;
    border-radius: 7px;
    margin: 20px;
    box-shadow: 1px 1px;
}

.card.back {
    background-image: url("images/card_back.png") no-repeat center center;
    height: 176px;
    width: 124px;
    border: solid black 2px;
    border-radius: 7px;
    margin: 20px;
    box-shadow: 1px 1px;
}